:root {
    --font-poppins: "Poppins", sans-serif;
    --color-bg: #f2f2f2;
    --color-text: #444;
}

[data-theme="light"] {
    --color-bg: #f2f2f2;
    --color-text: #444;
}

[data-theme="dark"] {
    --color-bg: #444;
    --color-text: #f2f2f2;
}
