---

---

<header>
    <nav class="navbar">
        <div class="logo">
            <a href="#">Constantino Edes</a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Portafolio</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>

<style type="scss">
    /* Estilos para la barra de navegación */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #f8f8f8;
        /* Otros estilos */
    }

    /* Estilos para los elementos de la lista */
    .nav-links {
        list-style: none;
        display: flex;
    }

    .nav-links li {
        margin-right: 20px;
    }

    .nav-links a {
        text-decoration: none;
        color: #333;
        /* Otros estilos */
    }

    /* Estilos para el logotipo */
    .logo a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        /* Otros estilos */
    }
</style>
