---
import Link from "@components/ui/Link.astro";
import Layout from "@layouts/Layout.astro";
const allPosts = await Astro.glob("../blog/posts/*.md"); 
---


<Layout title="dasdsa">
    <h1>This is where I will post about my journey learning Astro.</h1>
    <ul>
        {
            allPosts.map((post) => (
                <li>
                    <Link href={post.url ?? "404.astro"} innerText={post.frontmatter.title} />
                </li>
            ))
        }
    </ul>
</Layout>