---
interface Props {
    innerText: string;
    click: () => any;
}

const { innerText } = Astro.props;
---

<button>{innerText}</button>


<script>
    // Encuentra el bot칩n dentro del contexto de este componente Astro.
    const componentButton = document.querySelector("button");
    const { click } = Astro.props;
    // Maneja el clic en el bot칩n si la funci칩n click est치 presente.
    if (componentButton && Astro.props.click) {
        componentButton.addEventListener("click", click);
    }
</script>