---
import NavLinks from "../render/NavLinks.astro";
import Link from "./Link.astro";
---

<nav class="navbar">
    <div class="logo">
        <Link href={'/'} innerText="Logo" >
    </div>
    <NavLinks/>
</nav>