---
import NavLinks from "@components/render/NavLinks.astro";
import Link from "./Link.astro";

---


<nav class="nav-links">
    <div class="logo">
        <Link href={'/'} innerText="Logo" >
    </div>
    <NavLinks/>
</nav>
